[
  {
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "org.rwaprotocol.app",
      "sha256_cert_fingerprints": ["__REPLACE_WITH_KEYTOOL_SHA256__"]
    }
  }
]
