-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: rwa_protocol
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `approval_events`
--

DROP TABLE IF EXISTS `approval_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `approval_events` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_address` varchar(42) NOT NULL,
  `spender_address` varchar(42) NOT NULL,
  `amount` varchar(78) NOT NULL,
  `tx_hash` varchar(66) NOT NULL,
  `block_number` bigint NOT NULL,
  `timestamp` bigint NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tx_hash` (`tx_hash`),
  KEY `idx_user` (`user_address`),
  KEY `idx_timestamp` (`timestamp`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `approval_events`
--

LOCK TABLES `approval_events` WRITE;
/*!40000 ALTER TABLE `approval_events` DISABLE KEYS */;
INSERT INTO `approval_events` VALUES (1,'0xcd5b97505499b1575e481446384430bb159851b6','0xb4fd045003c402be6ebaaecfd27105343cb7b3be','100000000','0x8748de01a96eb474445f56ce71b127b1df977dd0a58e92686d10fdce9479a27d',95741592,1773522488,'2026-03-14 21:08:08');
/*!40000 ALTER TABLE `approval_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `balance_snapshots`
--

DROP TABLE IF EXISTS `balance_snapshots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `balance_snapshots` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_address` varchar(42) NOT NULL,
  `asset_type` enum('USDT','RWA') NOT NULL,
  `balance_type` enum('flexible','locked_30','locked_90','locked_180','locked_365') NOT NULL,
  `amount` varchar(78) NOT NULL,
  `timestamp` bigint NOT NULL,
  `event_type` enum('stake','withdraw','mature') NOT NULL,
  `lock_end_time` bigint DEFAULT NULL,
  `tx_hash` varchar(66) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_user_asset_time` (`user_address`,`asset_type`,`timestamp`),
  KEY `idx_timestamp` (`timestamp`)
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `balance_snapshots`
--

LOCK TABLES `balance_snapshots` WRITE;
/*!40000 ALTER TABLE `balance_snapshots` DISABLE KEYS */;
/*!40000 ALTER TABLE `balance_snapshots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_settlements`
--

DROP TABLE IF EXISTS `daily_settlements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `daily_settlements` (
  `id` int NOT NULL AUTO_INCREMENT,
  `settlement_date` date NOT NULL,
  `total_staked` decimal(36,18) NOT NULL,
  `total_rewards` decimal(36,18) NOT NULL,
  `user_count` int NOT NULL,
  `timestamp` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_date` (`settlement_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_settlements`
--

LOCK TABLES `daily_settlements` WRITE;
/*!40000 ALTER TABLE `daily_settlements` DISABLE KEYS */;
/*!40000 ALTER TABLE `daily_settlements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `direct_referral_rewards`
--

DROP TABLE IF EXISTS `direct_referral_rewards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `direct_referral_rewards` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `referrer_address` varchar(42) NOT NULL,
  `referee_address` varchar(42) NOT NULL,
  `stake_id` bigint NOT NULL,
  `stake_amount` decimal(36,18) NOT NULL,
  `stake_type` enum('USDT','RWA') NOT NULL,
  `referrer_level` tinyint NOT NULL,
  `reward_rate` int NOT NULL,
  `reward_amount` decimal(36,18) NOT NULL,
  `stake_time` timestamp NOT NULL,
  `maturity_time` timestamp NOT NULL,
  `status` enum('PENDING','MATURED','PAID','SETTLED','CANCELLED') DEFAULT 'PENDING',
  `paid_time` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_referrer` (`referrer_address`),
  KEY `idx_referee` (`referee_address`),
  KEY `idx_status` (`status`),
  KEY `idx_stake` (`stake_id`)
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `direct_referral_rewards`
--

LOCK TABLES `direct_referral_rewards` WRITE;
/*!40000 ALTER TABLE `direct_referral_rewards` DISABLE KEYS */;
/*!40000 ALTER TABLE `direct_referral_rewards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emergency_withdrawals`
--

DROP TABLE IF EXISTS `emergency_withdrawals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `emergency_withdrawals` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_address` varchar(42) NOT NULL,
  `amount` varchar(78) DEFAULT NULL,
  `block_number` bigint NOT NULL,
  `transaction_hash` varchar(66) NOT NULL,
  `timestamp` bigint NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_address`),
  KEY `idx_timestamp` (`timestamp`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emergency_withdrawals`
--

LOCK TABLES `emergency_withdrawals` WRITE;
/*!40000 ALTER TABLE `emergency_withdrawals` DISABLE KEYS */;
/*!40000 ALTER TABLE `emergency_withdrawals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `event_processing_state`
--

DROP TABLE IF EXISTS `event_processing_state`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `event_processing_state` (
  `id` int NOT NULL AUTO_INCREMENT,
  `contract_address` varchar(42) NOT NULL,
  `event_name` varchar(100) NOT NULL,
  `last_processed_block` bigint DEFAULT '0',
  `last_processed_tx_hash` varchar(66) DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_contract_event` (`contract_address`,`event_name`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `event_processing_state`
--

LOCK TABLES `event_processing_state` WRITE;
/*!40000 ALTER TABLE `event_processing_state` DISABLE KEYS */;
INSERT INTO `event_processing_state` VALUES (1,'','',95816232,NULL,'2026-03-15 06:28:03');
/*!40000 ALTER TABLE `event_processing_state` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `homepage_stats`
--

DROP TABLE IF EXISTS `homepage_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `homepage_stats` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tvl` decimal(20,2) NOT NULL DEFAULT '5000000.00',
  `users` int NOT NULL DEFAULT '1000',
  `price` decimal(10,4) NOT NULL DEFAULT '0.8500',
  `last_daily_update` date NOT NULL,
  `last_user_update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `homepage_stats`
--

LOCK TABLES `homepage_stats` WRITE;
/*!40000 ALTER TABLE `homepage_stats` DISABLE KEYS */;
INSERT INTO `homepage_stats` VALUES (1,19733148.00,1066,0.8500,'2026-03-14','2026-03-14 20:35:14','2026-03-14 20:38:01');
/*!40000 ALTER TABLE `homepage_stats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lock_maturity_events`
--

DROP TABLE IF EXISTS `lock_maturity_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lock_maturity_events` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_address` varchar(42) NOT NULL,
  `asset_type` enum('USDT','RWA') NOT NULL,
  `amount` decimal(36,18) NOT NULL,
  `lock_period` int NOT NULL,
  `maturity_time` bigint NOT NULL,
  `processed_time` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_user_time` (`user_address`,`maturity_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lock_maturity_events`
--

LOCK TABLES `lock_maturity_events` WRITE;
/*!40000 ALTER TABLE `lock_maturity_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `lock_maturity_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `node_level_history`
--

DROP TABLE IF EXISTS `node_level_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `node_level_history` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_address` varchar(42) NOT NULL,
  `old_level` tinyint NOT NULL,
  `new_level` tinyint NOT NULL,
  `timestamp` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_address`),
  KEY `idx_timestamp` (`timestamp`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `node_level_history`
--

LOCK TABLES `node_level_history` WRITE;
/*!40000 ALTER TABLE `node_level_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `node_level_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `node_level_updates`
--

DROP TABLE IF EXISTS `node_level_updates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `node_level_updates` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_address` varchar(42) NOT NULL,
  `old_level` int DEFAULT NULL,
  `new_level` int DEFAULT NULL,
  `block_number` bigint NOT NULL,
  `transaction_hash` varchar(66) NOT NULL,
  `timestamp` bigint NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_address`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `node_level_updates`
--

LOCK TABLES `node_level_updates` WRITE;
/*!40000 ALTER TABLE `node_level_updates` DISABLE KEYS */;
/*!40000 ALTER TABLE `node_level_updates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `referral_bindings`
--

DROP TABLE IF EXISTS `referral_bindings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `referral_bindings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_address` varchar(42) NOT NULL,
  `referrer_address` varchar(42) NOT NULL,
  `timestamp` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user` (`user_address`),
  KEY `idx_referrer` (`referrer_address`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `referral_bindings`
--

LOCK TABLES `referral_bindings` WRITE;
/*!40000 ALTER TABLE `referral_bindings` DISABLE KEYS */;
INSERT INTO `referral_bindings` VALUES (1,'0xcc99baaecdd41b457850aec1ce6eacb38e9a19e4','0xa941f4806e0e3ea7577aec6c015d6e9d91584638',1773268147),(2,'0x21e8d936aa59f92a787c780520c2c4526e22d464','0xcc99baaecdd41b457850aec1ce6eacb38e9a19e4',1773308052);
/*!40000 ALTER TABLE `referral_bindings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `referral_quality_score`
--

DROP TABLE IF EXISTS `referral_quality_score`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `referral_quality_score` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_address` varchar(42) NOT NULL,
  `total_referrals` int DEFAULT '0',
  `valid_referrals` int DEFAULT '0',
  `total_stake_amount` decimal(20,2) DEFAULT '0.00',
  `emergency_withdrawals` int DEFAULT '0',
  `referral_count_score` decimal(5,2) DEFAULT '0.00',
  `valid_rate_score` decimal(5,2) DEFAULT '0.00',
  `stake_amount_score` decimal(5,2) DEFAULT '0.00',
  `emergency_penalty` decimal(5,2) DEFAULT '0.00',
  `total_score` decimal(5,2) DEFAULT '0.00',
  `grade` varchar(10) DEFAULT 'C',
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_address` (`user_address`),
  KEY `idx_user` (`user_address`),
  KEY `idx_score` (`total_score` DESC)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `referral_quality_score`
--

LOCK TABLES `referral_quality_score` WRITE;
/*!40000 ALTER TABLE `referral_quality_score` DISABLE KEYS */;
/*!40000 ALTER TABLE `referral_quality_score` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `referral_settlement_batches`
--

DROP TABLE IF EXISTS `referral_settlement_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `referral_settlement_batches` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `batch_number` varchar(20) NOT NULL,
  `start_time` timestamp NOT NULL,
  `end_time` timestamp NOT NULL,
  `total_rewards` decimal(36,18) DEFAULT '0.000000000000000000',
  `total_records` int DEFAULT '0',
  `status` enum('PENDING','PROCESSING','COMPLETED','FAILED') DEFAULT 'PENDING',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `completed_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `batch_number` (`batch_number`),
  KEY `idx_batch` (`batch_number`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `referral_settlement_batches`
--

LOCK TABLES `referral_settlement_batches` WRITE;
/*!40000 ALTER TABLE `referral_settlement_batches` DISABLE KEYS */;
INSERT INTO `referral_settlement_batches` VALUES (3,'2026-W11','2026-03-14 13:49:02','2026-03-14 13:49:02',0.000000000000000000,0,'PROCESSING','2026-03-14 13:49:01',NULL);
/*!40000 ALTER TABLE `referral_settlement_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reward_updates`
--

DROP TABLE IF EXISTS `reward_updates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reward_updates` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_address` varchar(42) NOT NULL,
  `amount` decimal(36,18) NOT NULL,
  `timestamp` bigint NOT NULL,
  `block_number` bigint NOT NULL,
  `tx_hash` varchar(66) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_address`),
  KEY `idx_timestamp` (`timestamp`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reward_updates`
--

LOCK TABLES `reward_updates` WRITE;
/*!40000 ALTER TABLE `reward_updates` DISABLE KEYS */;
/*!40000 ALTER TABLE `reward_updates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rewards`
--

DROP TABLE IF EXISTS `rewards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rewards` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_address` varchar(42) NOT NULL,
  `reward_type` varchar(20) NOT NULL,
  `token_type` varchar(10) NOT NULL,
  `amount` varchar(78) NOT NULL,
  `timestamp` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_user_address` (`user_address`),
  KEY `idx_timestamp` (`timestamp`)
) ENGINE=InnoDB AUTO_INCREMENT=809 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rewards`
--

LOCK TABLES `rewards` WRITE;
/*!40000 ALTER TABLE `rewards` DISABLE KEYS */;
/*!40000 ALTER TABLE `rewards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rwa_locked_principals`
--

DROP TABLE IF EXISTS `rwa_locked_principals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rwa_locked_principals` (
  `id` int NOT NULL AUTO_INCREMENT,
  `stake_id` bigint NOT NULL,
  `user_address` varchar(42) NOT NULL,
  `principal_amount` varchar(78) NOT NULL,
  `lock_start_time` bigint NOT NULL,
  `lock_end_time` bigint NOT NULL,
  `lock_period` int NOT NULL,
  `is_withdrawn` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_address`),
  KEY `idx_stake` (`stake_id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rwa_locked_principals`
--

LOCK TABLES `rwa_locked_principals` WRITE;
/*!40000 ALTER TABLE `rwa_locked_principals` DISABLE KEYS */;
/*!40000 ALTER TABLE `rwa_locked_principals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rwa_stakes`
--

DROP TABLE IF EXISTS `rwa_stakes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rwa_stakes` (
  `user_address` varchar(42) NOT NULL,
  `total_staked_rwa` decimal(38,0) NOT NULL DEFAULT '0',
  `rwa_pending` decimal(38,0) NOT NULL DEFAULT '0',
  `last_withdraw_time` bigint NOT NULL DEFAULT '0',
  `referrer` varchar(42) DEFAULT NULL,
  `first_stake_time` bigint NOT NULL DEFAULT '0',
  `node_level` tinyint DEFAULT '1',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_address`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rwa_stakes`
--

LOCK TABLES `rwa_stakes` WRITE;
/*!40000 ALTER TABLE `rwa_stakes` DISABLE KEYS */;
/*!40000 ALTER TABLE `rwa_stakes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stake_events`
--

DROP TABLE IF EXISTS `stake_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stake_events` (
  `id` int NOT NULL AUTO_INCREMENT,
  `event_type` varchar(20) DEFAULT NULL,
  `user_address` varchar(42) NOT NULL,
  `amount` varchar(78) DEFAULT NULL,
  `referrer_address` varchar(42) DEFAULT NULL,
  `stake_id` bigint NOT NULL,
  `timestamp` bigint NOT NULL,
  `lock_period` int NOT NULL,
  `block_number` bigint NOT NULL,
  `tx_hash` varchar(66) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_address`),
  KEY `idx_referrer` (`referrer_address`),
  KEY `idx_timestamp` (`timestamp`),
  KEY `idx_stake_id` (`stake_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1180 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stake_events`
--

LOCK TABLES `stake_events` WRITE;
/*!40000 ALTER TABLE `stake_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `stake_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stakes`
--

DROP TABLE IF EXISTS `stakes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stakes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_address` varchar(42) NOT NULL,
  `amount` decimal(38,0) NOT NULL,
  `lock_period` int DEFAULT '0',
  `asset_type` varchar(10) DEFAULT 'USDT',
  `tx_hash` varchar(66) NOT NULL,
  `block_number` bigint NOT NULL,
  `timestamp` timestamp NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tx_hash` (`tx_hash`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stakes`
--

LOCK TABLES `stakes` WRITE;
/*!40000 ALTER TABLE `stakes` DISABLE KEYS */;
/*!40000 ALTER TABLE `stakes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `strwa_mints`
--

DROP TABLE IF EXISTS `strwa_mints`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `strwa_mints` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_address` varchar(42) NOT NULL,
  `amount` varchar(78) DEFAULT NULL,
  `block_number` bigint NOT NULL,
  `transaction_hash` varchar(66) NOT NULL,
  `timestamp` bigint NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_address`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `strwa_mints`
--

LOCK TABLES `strwa_mints` WRITE;
/*!40000 ALTER TABLE `strwa_mints` DISABLE KEYS */;
/*!40000 ALTER TABLE `strwa_mints` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sync_status`
--

DROP TABLE IF EXISTS `sync_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sync_status` (
  `id` int NOT NULL AUTO_INCREMENT,
  `last_synced_block` bigint DEFAULT NULL,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sync_status`
--

LOCK TABLES `sync_status` WRITE;
/*!40000 ALTER TABLE `sync_status` DISABLE KEYS */;
INSERT INTO `sync_status` VALUES (1,95343000,'2026-03-13 14:20:25');
/*!40000 ALTER TABLE `sync_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_config_changes`
--

DROP TABLE IF EXISTS `system_config_changes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_config_changes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `event_type` varchar(50) DEFAULT NULL,
  `old_value` text,
  `new_value` text,
  `affected_address` varchar(42) DEFAULT NULL,
  `block_number` bigint NOT NULL,
  `transaction_hash` varchar(66) NOT NULL,
  `timestamp` bigint NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_config_changes`
--

LOCK TABLES `system_config_changes` WRITE;
/*!40000 ALTER TABLE `system_config_changes` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_config_changes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `token_burns`
--

DROP TABLE IF EXISTS `token_burns`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `token_burns` (
  `id` int NOT NULL AUTO_INCREMENT,
  `amount` varchar(78) DEFAULT NULL,
  `block_number` bigint NOT NULL,
  `transaction_hash` varchar(66) NOT NULL,
  `timestamp` bigint NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `token_burns`
--

LOCK TABLES `token_burns` WRITE;
/*!40000 ALTER TABLE `token_burns` DISABLE KEYS */;
/*!40000 ALTER TABLE `token_burns` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_stake_orders`
--

DROP TABLE IF EXISTS `user_stake_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_stake_orders` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_address` varchar(42) NOT NULL,
  `stake_id` varchar(50) NOT NULL,
  `asset_type` varchar(10) DEFAULT NULL,
  `amount` varchar(78) DEFAULT NULL,
  `lock_period` int DEFAULT NULL,
  `lock_start_time` bigint DEFAULT NULL,
  `lock_end_time` bigint DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  `is_flexible` tinyint(1) DEFAULT '0',
  `created_at` bigint DEFAULT NULL,
  `updated_at` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_address`),
  KEY `idx_stake_id` (`stake_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_stake_orders`
--

LOCK TABLES `user_stake_orders` WRITE;
/*!40000 ALTER TABLE `user_stake_orders` DISABLE KEYS */;
INSERT INTO `user_stake_orders` VALUES (1,'0x21e8d936aa59f92a787c780520c2c4526e22d464','usdt_11','USDT','1000000000000000000000',90,1773308968,1781084968,'active',0,1773308975,1773310506),(2,'0x21e8d936aa59f92a787c780520c2c4526e22d464','rwa_12','RWA','500000000000000000000',180,1773310500,1788862500,'active',0,1773310506,1773310506);
/*!40000 ALTER TABLE `user_stake_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_stats`
--

DROP TABLE IF EXISTS `user_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_stats` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_address` varchar(42) NOT NULL,
  `personal_usdt_staked` varchar(78) DEFAULT NULL,
  `personal_rwa_staked` varchar(78) DEFAULT NULL,
  `personal_total_usdt` decimal(20,3) DEFAULT NULL,
  `direct_referrals` int DEFAULT '0',
  `team_volume_usdt` decimal(20,3) DEFAULT NULL,
  `team_retained_usdt` decimal(20,3) DEFAULT NULL,
  `current_level` tinyint DEFAULT '1',
  `effective_level` tinyint DEFAULT '1',
  `last_calculated_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user` (`user_address`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_stats`
--

LOCK TABLES `user_stats` WRITE;
/*!40000 ALTER TABLE `user_stats` DISABLE KEYS */;
INSERT INTO `user_stats` VALUES (1,'0xcc99baaecdd41b457850aec1ce6eacb38e9a19e4','1.395e+21','4.7069999999999997e+21',5198.104,1,9150.104,8952.258,1,1,'2026-03-12 11:31:24','2026-03-12 11:31:24'),(2,'0x21e8d936aa59f92a787c780520c2c4526e22d464','3e+21','1.12e+21',3952.000,0,3952.000,3952.000,1,1,'2026-03-12 11:31:24','2026-03-12 11:31:24');
/*!40000 ALTER TABLE `user_stats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `address` varchar(42) NOT NULL,
  `referrer` varchar(42) DEFAULT NULL,
  `node_level` tinyint DEFAULT '1',
  `total_staked` decimal(38,0) DEFAULT '0',
  `team_volume` decimal(36,18) DEFAULT '0.000000000000000000',
  `created_at` bigint DEFAULT NULL,
  `updated_at` bigint DEFAULT NULL,
  `cumulative_personal_stake` decimal(38,0) DEFAULT '0',
  `team_total_deposited` decimal(38,0) DEFAULT '0',
  `team_total_withdrawn` decimal(38,0) DEFAULT '0',
  `rwa_pending` decimal(38,0) DEFAULT '0',
  `usdt_rewards` decimal(38,0) DEFAULT '0',
  `direct_referral_count` int DEFAULT '0',
  `last_withdraw_time` timestamp NULL DEFAULT NULL,
  `first_stake_time` timestamp NULL DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `referral_path` text,
  PRIMARY KEY (`address`),
  KEY `idx_referrer` (`referrer`),
  KEY `idx_node_level` (`node_level`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `withdrawal_events`
--

DROP TABLE IF EXISTS `withdrawal_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `withdrawal_events` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_address` varchar(42) NOT NULL,
  `event_type` varchar(50) DEFAULT NULL,
  `amount` varchar(78) DEFAULT NULL,
  `stake_id` bigint NOT NULL,
  `timestamp` bigint NOT NULL,
  `block_number` bigint NOT NULL,
  `tx_hash` varchar(66) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_address`),
  KEY `idx_timestamp` (`timestamp`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `withdrawal_events`
--

LOCK TABLES `withdrawal_events` WRITE;
/*!40000 ALTER TABLE `withdrawal_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `withdrawal_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `yield_settlements`
--

DROP TABLE IF EXISTS `yield_settlements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `yield_settlements` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_address` varchar(42) NOT NULL,
  `asset_type` enum('USDT','RWA') NOT NULL,
  `settlement_time` bigint NOT NULL,
  `from_time` bigint NOT NULL,
  `to_time` bigint NOT NULL,
  `total_yield` decimal(36,18) NOT NULL,
  `calculation_details` json DEFAULT NULL,
  `tx_hash` varchar(66) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_user_time` (`user_address`,`settlement_time`),
  KEY `idx_settlement_time` (`settlement_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `yield_settlements`
--

LOCK TABLES `yield_settlements` WRITE;
/*!40000 ALTER TABLE `yield_settlements` DISABLE KEYS */;
/*!40000 ALTER TABLE `yield_settlements` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-15 14:28:07
